<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="BIGINT" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="preview_pic" property="previewPic" jdbcType="VARCHAR" />
    <result column="preview_gif" property="previewGif" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP" />
    <result column="browse_time" property="browseTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, length, size, preview_pic, preview_gif, create_time, updata_time, 
    browse_time, remarks, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Video" >
    insert into video (id, name, type, 
      length, size, preview_pic, 
      preview_gif, create_time, updata_time, 
      browse_time, remarks, url
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{length,jdbcType=BIGINT}, #{size,jdbcType=BIGINT}, #{previewPic,jdbcType=VARCHAR}, 
      #{previewGif,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updataTime,jdbcType=TIMESTAMP}, 
      #{browseTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Video" >
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="previewPic != null" >
        preview_pic,
      </if>
      <if test="previewGif != null" >
        preview_gif,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
      <if test="browseTime != null" >
        browse_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=BIGINT},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="previewPic != null" >
        #{previewPic,jdbcType=VARCHAR},
      </if>
      <if test="previewGif != null" >
        #{previewGif,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseTime != null" >
        #{browseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Video" >
    update video
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=BIGINT},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="previewPic != null" >
        preview_pic = #{previewPic,jdbcType=VARCHAR},
      </if>
      <if test="previewGif != null" >
        preview_gif = #{previewGif,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseTime != null" >
        browse_time = #{browseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Video" >
    update video
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      length = #{length,jdbcType=BIGINT},
      size = #{size,jdbcType=BIGINT},
      preview_pic = #{previewPic,jdbcType=VARCHAR},
      preview_gif = #{previewGif,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP},
      browse_time = #{browseTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>