<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>management</title>

    <script type="text/javascript">
        //一个表单实现多submit按钮不同URL请求
        function toLogin() {
            document.employees.action = "/start/login";
            document.employees.submit();
        }
        function toAdd() {
            document.employees.action = "/start/register";
            document.employees.submit();
        }
    </script>
    <style type="text/css">
        /*内容居中，表格宽度和高度，显示边框  */
        td, th {
            text-align: center;
            width: 80px;
            height: 30px;
            width: 80px;
            border: 1px solid black;
        }

        /*表格自动居中  */
        table {
            border-collapse: collapse;
            margin: 0 auto;
        }
        /*输入框设置为和信息框一样的格式  */
        .input {
            width: 80px;
            height: 30px;
            border: 0;
            text-align: center;
        }
    </style>

</head>
<body>
<form method="post" name="employees">
    <!--table的id值 配合js可实现删除表格的某一行  -->
    <table id="myTable">
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td>phone</td>
            <td><input class="input" type="text" name="phone"></td>

        </tr>
        <tr>
            <td>password</td>
            <td><input class="input" type="password" name="password"></td>
        </tr>
        <tr>
            <td ><button name="add" value="登录"
                        onclick="toLogin()" />登录</td>
            <td ><button name="delSelect" value="注册"
                        onclick="toAdd()">注册</button></td>
        </tr>
    </table>

</form>
</body>
</html>